@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDgzMzk5NS1uaWhhbmtvYzpuS3JGUjdnMFVwQjhDNGJHdFFhYVlKam80OTVVOWxBbQ==
always-auth=true
