<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<ng-container>
  <div class="d-flex justify-content-between">
    <h1 class="display-2 text-primary fs-2">Product List</h1>
    <app-sorting-button (sortChange)="onSortChange($event)"></app-sorting-button>
  </div>
</ng-container>

<div  class="row mt-5" infiniteScroll 
[infiniteScrollDistance]="2"
[infiniteScrollUpDistance]="1.5"
[infiniteScrollThrottle]="150"
(scrolled)="onScrollDown()"
[scrollWindow]="false">
  <div *ngFor="let product of sortedProducts" class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-product-card [product]="product"></app-product-card>
  </div>
</div>

