<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<ng-container>
  <div class="d-flex justify-content-between">
    <h1 class="display-2 text-primary fs-2">Product List</h1>
    <app-sorting-button (sortChange)="onSortChange($event)"></app-sorting-button>
  </div>
</ng-container>

<div  class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mt-5 search-results">
  <div *ngFor="let product of sortedProducts" class=" col">
    <app-product-card [product]="product"></app-product-card>
  </div>
</div>

