<ng-container>
  <mat-toolbar color="primary">
    <span>E-Commerce</span>
    <span class="example-spacer"></span>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Anasayfa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">İletişim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  Checkout
              </a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
  </mat-toolbar>
  
</ng-container>